<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Heirloom</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.matthanson.heirloom</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>heirloom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CKSharingSupported</key>
	<true/>
	<key>DEFAULT_ANTHROPIC_KEY</key>
	<string>$(DEFAULT_ANTHROPIC_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>Heirloom needs camera access to photograph recipe cards from your cookbooks.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Heirloom saves recipe images to your photo library when you share styled recipe cards.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Heirloom needs photo library access to import recipe images.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Heirloom exports your shopping list to Reminders so you can check off items while shopping.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
